00-MNISTData/t10k-images-idx3-ubyte.gz filter=lfs diff=lfs merge=lfs -text
00-MNISTData/t10k-labels-idx1-ubyte.gz filter=lfs diff=lfs merge=lfs -text
00-MNISTData/train-images-idx3-ubyte.gz filter=lfs diff=lfs merge=lfs -text
00-MNISTData/train-labels-idx1-ubyte.gz filter=lfs diff=lfs merge=lfs -text
50-Resource/Number.pdf filter=lfs diff=lfs merge=lfs -text
50-Resource/02-API-Layer/PluginV2Layer.pdf filter=lfs diff=lfs merge=lfs -text
50-Resource/02-API-Layer/SelectLayer.pdf filter=lfs diff=lfs merge=lfs -text
50-Resource/02-API-Layer/SliceLayer.pdf filter=lfs diff=lfs merge=lfs -text
50-Resource/02-API-Layer/ElementwiseLayer.pdf filter=lfs diff=lfs merge=lfs -text
50-Resource/02-API-Layer/Quantize+DequantizeLayer.pdf filter=lfs diff=lfs merge=lfs -text
50-Resource/02-API-Layer/FillLayer.pdf filter=lfs diff=lfs merge=lfs -text
50-Resource/02-API-Layer/ReduceLayer.pdf filter=lfs diff=lfs merge=lfs -text
50-Resource/02-API-Layer/RNNv2Layer.pdf filter=lfs diff=lfs merge=lfs -text
50-Resource/02-API-Layer/ShapeLayer.pdf filter=lfs diff=lfs merge=lfs -text
50-Resource/02-API-Layer/FullyConnectedLayer.pdf filter=lfs diff=lfs merge=lfs -text
50-Resource/02-API-Layer/IfConditionStructure.pdf filter=lfs diff=lfs merge=lfs -text
50-Resource/02-API-Layer/MatrixMultiplyLayer.pdf filter=lfs diff=lfs merge=lfs -text
50-Resource/02-API-Layer/PoolingNdLayer(PoolingLayer).pdf filter=lfs diff=lfs merge=lfs -text
50-Resource/02-API-Layer/ScatterLayer.pdf filter=lfs diff=lfs merge=lfs -text
50-Resource/02-API-Layer/SoftmaxLayer.pdf filter=lfs diff=lfs merge=lfs -text
50-Resource/02-API-Layer/UnaryLayer.pdf filter=lfs diff=lfs merge=lfs -text
50-Resource/02-API-Layer/ActivationLayer.pdf filter=lfs diff=lfs merge=lfs -text
50-Resource/02-API-Layer/RaggedSoftMaxLayer.pdf filter=lfs diff=lfs merge=lfs -text
50-Resource/02-API-Layer/ShuffleLayer.pdf filter=lfs diff=lfs merge=lfs -text
50-Resource/02-API-Layer/GatherLayer.pdf filter=lfs diff=lfs merge=lfs -text
50-Resource/02-API-Layer/ConvolutionNdLayer(Convolution[[:space:]]Layer).pdf filter=lfs diff=lfs merge=lfs -text
50-Resource/02-API-Layer/LRNLayer.pdf filter=lfs diff=lfs merge=lfs -text
50-Resource/02-API-Layer/ParametricReLULayer.pdf filter=lfs diff=lfs merge=lfs -text
50-Resource/02-API-Layer/TopKLayer.pdf filter=lfs diff=lfs merge=lfs -text
50-Resource/02-API-Layer/AssertionLayer.pdf filter=lfs diff=lfs merge=lfs -text
50-Resource/02-API-Layer/DeconvolutionNdLayer(Deconvolution[[:space:]]Layer).pdf filter=lfs diff=lfs merge=lfs -text
50-Resource/02-API-Layer/ConstantLayer.pdf filter=lfs diff=lfs merge=lfs -text
50-Resource/02-API-Layer/EinsumLayer.pdf filter=lfs diff=lfs merge=lfs -text
50-Resource/02-API-Layer/IdentityLayer.pdf filter=lfs diff=lfs merge=lfs -text
50-Resource/02-API-Layer/LoopStructure.pdf filter=lfs diff=lfs merge=lfs -text
50-Resource/02-API-Layer/PaddingNdLayer(PaddingLayer).pdf filter=lfs diff=lfs merge=lfs -text
50-Resource/02-API-Layer/ResizeLayer.pdf filter=lfs diff=lfs merge=lfs -text
50-Resource/02-API-Layer/ScaleLayer.pdf filter=lfs diff=lfs merge=lfs -text
50-Resource/02-API-Layer/ConcatenationLayer.pdf filter=lfs diff=lfs merge=lfs -text
50-Resource/Hackathon2022-FirstRound-Wenet-V1.1.pdf filter=lfs diff=lfs merge=lfs -text
50-Resource/TensorRTTraining-TRT8.2.3-V1.1.pdf filter=lfs diff=lfs merge=lfs -text
51-Uncategorized/Hackathon2022-FirstRound-Wenet-V1.1.pptx filter=lfs diff=lfs merge=lfs -text
51-Uncategorized/TensorRTTraining-TRT8.2.3-V1.1.pptx filter=lfs diff=lfs merge=lfs -text
