build
colored
cuda-python
mypy                    # For API inspection
numpy==1.26.4           # Workaround for a bug in TensorRT-10.14, remove this if fixed
nvtx
onnx
onnx_graphsurgeon
onnxruntime-gpu
opencv-python-headless
polygraphy
pybind11-stubgen        # For API inspection
scipy
torchinfo
tripy
triton
cupy                    # Not all examples need this

# Old CUDA python API (not recommended), replaced bgy cuda-python
# pycuda

# TREX related
# dtale==2.2.0
# graphviz
# ipyfilechooser
# ipywidgets
# jupyter
# jupyter-dash
# jupyterlab
# netron
# openpyxl               # for excel reporting
# pandas==1.5
# plotly
# protobuf==3.20.3
# qgrid
# pytest
# setuptools             # for qgrid
# wheel                  # for qgrid
